<%- include('../partials/header') %>
<h1>Profile Page</h1>
<h2><%= foundUser.username %></h2>
<ul>
    <li>Name : <%= foundUser.username %></li>
    <li>CGPA : <%= foundUser.cgpa %></li>
    <li>Contact : <%= foundUser.phone %></li>
    <li>DOB : <%= foundUser.dob %></li>
    <li>Gender : <%= foundUser.gender %></li>
</ul>

<%- include('../partials/footer') %>