<%- include('../partials/header') %>
<div style="display: flex;   justify-content:center;">
    <a href="/jobs/<%= job._id %>/questions/new" class="btn btn-lg btn-success my-4">Add new Question</a>
</div>
<hr>
<% job.questions.forEach((ques, i) => { %>
    <ul style="display: flex; flex-direction: column;  " class="list-group">
        <li class="list-group-item disabled" aria-disabled="true"><%= ques.title %></li>
        <li class="list-group-item"><%= ques.option1 %></li>
        <li class="list-group-item"><%= ques.option2 %></li>
        <li class="list-group-item"><%= ques.option3 %></li>
        <li class="list-group-item"><%= ques.option4 %></li>
        <li class="list-group-item"><%= ques.correctAnswer %></li>
    </ul>
    <div style="display: flex; align-items: center;  justify-content:center;">
        <a href="/jobs/<%= job._id %>/questions/<%= i %>/edit" class="btn btn-warning ">Edit</a>
        <form action="/jobs/<%= job._id %>/questions/<%= i %>?_method=delete" method="post">
            <input type="submit" value="Delete" class="btn btn-sm btn-danger my-3 mx-3">
        </form>
    </div>
<hr>
<% }) %>


<%- include('../partials/footer') %>